html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Lato",sans-serif;
    line-height: 150%;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 2em;
    background-color: #333333;
    padding: 10px;
    color: white;
    position: fixed;
    z-index: 100000;
    border-bottom-width: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
}

#links-navbar {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-left:10%;
}

#links-navbar > a {
    padding: 0.8% 1.5% 1.5% 1.5%;
    transition: 0.1s;
}

#navbar-responsive {
    display: none;
}

#links-navbar-responsive {
    display: none;
}

#links-navbar > a:hover {
    border-top-color: white;
    border-top-width: 5px;
    border-top-style: solid;
    transition: 0.1s;
}

#logo-opencertif {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

#image-logo-oc {
    height: 100%;
}

#faq {
    padding-top: 5em;
    width: 90%;
    margin-left: 5%;
}

.question {
    color: #53B7EC;
}

.answer {
    color: #333333;
}
