html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Lato",sans-serif;
    line-height: 150%;
    background-color: black;
    height: 100%;
}

.parallax {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 3em;
    padding: 10px 10px 10px 0;
    color: white;
    position: fixed;
    z-index: 100000;
    background-color: #282D32;
    box-shadow: 0px 5px 10px black;
}

#progress-bar {
    position: fixed;
    margin-top: 4em;
    width: 0;
    background-color: white;
    height: 0.25em;
}

#links-navbar {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
}

#links-navbar > a {
    padding: 0.8% 1.5% 1.5% 1.5%;
    transition: 0.1s;
    color: white;
}

#navbar-responsive {
    display: none;
}

#links-navbar-responsive {
    display: none;
}

#links-navbar > a:hover {
    border-top-color: white;
    border-top-width: 5px;
    border-top-style: solid;
    transition: 0.1s;
}

#logo-opencertif {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

#image-logo-oc {
    height: 75%;
}

#main-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4em;
}

#sep-video-texte {
    background: rgb(216,11,54);
    background: linear-gradient(90deg, rgba(216,11,54,1) 0%, rgba(212,10,57,1) 20%, rgba(130,0,122,1) 60%);
    width: 100%;
    padding: 0.2% 0;
    display: flex;
}

#pres-championnat {
    background-color: #282D32;
    width: 100%;
    z-index: 10000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 5% 0;
}

#texte-pres-championnat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 41%;
}

#logo-mos {
    width: 15%;
}

#prix {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
}

#prix-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#prix-div > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3% 3%;
    padding: 3% 1%;
    text-align: center;
    background-color: rgba(24, 31, 45, 0.8);
}

#prix-div > * > img {
    width: 40%;
    height: auto;
    margin-bottom: 5%;
}

#sep-prix-deadline {
    background: rgb(130,0,122);
    background: radial-gradient(circle, rgba(130,0,122,1) 24%, rgba(216,11,54,1) 100%);
    width: 100%;
    padding: 0.3% 0%;
    display: flex;
}

#deadline {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #282D32;
    color: white;
    width: 100%;
    text-align: center;
    padding: 0 0 4% 0;
}

#deadline > h1 {
    padding: 3%;
    line-height: 150%;;
}

#deadline-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#deadline-div > * {
    border: white 6px solid;
    width: 20%;
    padding: 3% 0;
}

#promouvoir {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#info-promotion {
    background-color: rgba(0, 0, 0, 0.6);
    width: 30%;
    height: 20%;
    color: white;
    padding: 2% 3% 3% 3%;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info-promotion > a {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    color: white;
    padding: 15px;
    font-size: 16px;
    transition: 0.3s;
}

#info-promotion > a:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}

#rules-faq {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #282D32;
    color: white;
    padding: 5%;
}

#rules-faq > div {
    width: 40%;
}

#rules-faq > div > a {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    color: white;
    padding: 15px;
    font-size: 16px;
    transition: 0.3s;
}

#rules-faq > div > a:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}

#sep-texte-form {
    background: rgb(130,0,122);
    background: radial-gradient(circle, rgba(130,0,122,1) 24%, rgba(216,11,54,1) 100%);
    width: 100%;
    padding: 0.3% 0;
    display: flex;
}

#footer {
    background-color: #282D32;
    width: 100%;
    height: 100%;
    padding: 3% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: large;
}

.footer-part {
    display: flex;
    flex-direction: column;
}

.footer-part > * {
    padding: 5% 0;
    opacity: 0.6;
}

.footer-part > *:hover {
    opacity: 0.8;
}

.sep-footer {
    border: white 1px solid;
    height: 25em;
    opacity: 0.7;
}
