@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    #acp-bg {
        height: 50%;
        width: 100%;
        top: 0;
        right: 0;
    }

    #mos-bg {
        height: 50%;
        width: 100%;
        top: 50%;
        left: 0;
    }

    .info-comp {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #mos {
        position: absolute;
        top: 50%;
        padding: 10% 15% 0 15%;
        width: 70%;
        height: auto;
        font-size: small;
    }

    #acp {
        position: absolute;
        top: 0;
        padding: 10% 15% 0 15%;
        width: 70%;
        height: auto;
        font-size: small;
    }

    #acp > .info-comp > h1 + p {
        display: none;
    }

    #mos > .info-comp > h1 + p {
        display: none;
    }
}