html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Lato",sans-serif;
    line-height: 150%;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 2em;
    background-color: #333333;
    padding: 10px;
    color: white;
    position: fixed;
    z-index: 100000;
    border-bottom-width: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
}

#links-navbar {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-left:10%;
}

#links-navbar > a {
    padding: 0.8% 1.5% 1.5% 1.5%;
    transition: 0.1s;
}

#navbar-responsive {
    display: none;
}

#links-navbar-responsive {
    display: none;
}

#links-navbar > a:hover {
    border-top-color: white;
    border-top-width: 5px;
    border-top-style: solid;
    transition: 0.1s;
}

#logo-opencertif {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

#image-logo-oc {
    height: 100%;
}

#funding {
    padding-top: 5em;
    width: 80%;
    display: flex;
    margin-left: 10%;
    justify-content: center;
    flex-direction: column;
}

#footer {
    margin-top: 5%;
    background-color: #282D32;
    width: 100%;
    height: 100%;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: large;
}

#footer-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-part {
    display: flex;
    flex-direction: column;
}

.footer-part > * {
    padding: 5% 0;
    opacity: 0.6;
}

.footer-part > *:hover {
    opacity: 0.8;
}

.sep-footer {
    border: white 1px solid;
    height: 25em;
    opacity: 0.7;
}

#images-oc {
    color: white;
    width: 15%;
}

#footer-cgv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    color: white;
    opacity: 0.7;
}

#sep-footer-cgv {
    width: 100%;
    height: 1px;
    background-color: white;
    opacity: 0.7;
}

#cgv {
    padding-top: 2%;
}

